openai
pandas
numpy>=1.26.0
setuptools
matplotlib
seaborn
scikit-learn
plotly
streamlit
PyMuPDF
PyPDF2
sentence-transformers
faiss-cpu==1.7.4
openpyxl
python-dotenv
statsmodels
streamlit-extras
pandas-ta
python-dateutil