openai>=1.0.0
pandas>=2.0.0
numpy>=1.26.0
setuptools
matplotlib
seaborn
scikit-learn
plotly
streamlit>=1.20.0
PyMuPDF
PyPDF2
sentence-transformers
openpyxl
python-dotenv
statsmodels
streamlit-extras
pandas-ta
python-dateutil
annoy==1.17.3