openai>=1.0.0
pandas>=2.0.0
numpy>=1.26.0
setuptools
matplotlib
seaborn
scikit-learn
plotly
streamlit>=1.20.0
PyMuPDF
PyPDF2
sentence-transformers
openpyxl
python-dotenv
statsmodels
streamlit-extras
pandas-ta
python-dateutil
https://github.com/pypi-wheels/pypi-wheels/releases/download/faiss-cpu-1.7.4/faiss_cpu-1.7.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
scann-cpu
annoy==1.17.3